<!-- Fixed navbar -->
<nav class="navbar navbar-inverse ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <p class="navbar-text pull-right">
                {% if user.contentInfo.name != "Anonymous User" %}
                    {{ user.contentInfo.name }} | <a href="/logout">{% trans %}Logout{% endtrans %}</a>
                {% else %}
                    <a href="/login">{% trans %}Login{% endtrans %}</a>
                {% endif %}
            </p>
            <ul class="nav navbar-nav">
                <li {% if ezpublish.rootLocation.id == currentMasterLocationId %}class="active"{% endif %}><a href="{{ path( ezpublish.rootLocation ) }}">{% trans %}Home{% endtrans %}</a></li>
                {% for location in menu %}
                <li {% if location.id == currentMasterLocationId %}class="active"{% endif %}><a href="{{ path( location ) }}">{{ ez_content_name( location.contentInfo) }}</a></li>
                {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>