<div class="col-lg-4">
    <h4><a href="{{ path( location ) }}">{{ ez_render_field( content, 'name') }}</a></h4>

    {% if not ez_is_field_empty( content, 'image' ) %}
        <div>
            {{ ez_render_field(
            content,
            'image',
            {
            'parameters': {'alias': 'itemImage'}
            }
            ) }}
        </div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'introduction' ) %}
        {{ ez_render_field( content, 'introduction' ) }}
    {% endif %}
</div>