{% extends "BananamanuSimpleDesignBundle::pagelayout.html.twig" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Theme example</h1>
        <p>This is the template of homepage full view.</p>
    </div>
{%  endblock %}