{% extends "BananamanuSimpleDesignBundle::pagelayout.html.twig" %}

{% block content %}

<h1>{{ ez_render_field( content, 'name') }}</h1>
<div class="well">
{{ ez_render_field( content, 'description') }}
</div>

    <div class="row marketing">

    {% for location in children %}
        {{ render_esi( controller( 'ez_content:viewLocation', {'locationId': location.id, 'viewType': 'line'} ) ) }}
    {% endfor %}

    </div>
</div>
{% endblock %}